body{
    background-color: blanchedalmond;
}

.navbar {
    background-color: #e7cfb4;
}

.order-btn{
    background-color: #e7b6b4;
    border-color: #563232;
    border-style: inset;
    border-width: 2px;
    font-weight: bold;
}

.order-btn:hover{
    background-color: #ff8c91;
}

#order-disabled{
    background-color: gray;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #e7cfb4;
} 

.footer-img{
    width: 230px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.footer .col-sm-3{
    margin-top: 16px;
    margin-bottom: 16px;
}

.footer .col-md-3{
    margin-top: 16px;
    margin-bottom: 16px;
}

.ratio-55x27{
    height: 135px;
    width: 275px;
}

.facebook{
    color: #4267B2;
    text-decoration: none;
}

.instagram{
    color: #4267B2;
    text-decoration: none;
}

.footer a{
    color: black;
    text-decoration: none;
}

.gallery-img{
    height: 30%;
    border-radius: 5%;
}