body{
    background-color: blanchedalmond;
}

.navbar {
    background-color: #e7cfb4;
}

.header{
    margin: 0px;
}

/*buttons */

.gallery-btn{
    background-color: #8ca9ff;
    border-color: #323756;
    border-style: outset;
    border-width: 3px;
    font-weight: bold;
}

.gallery-btn:hover{
    background-color: #b4c2e7;
    border-color: #323756;
    border-style: inset;
}

.gallery-btn:active{
    background-color: #b2dab1;
    border-color: #365236;
    border-style: outset;
}

.order-btn{
    background-color: #ff8c91;
    border-color: #563232;
    border-style: outset;
    border-width: 3px;
    font-weight: bold;
}

.order-btn:hover{
    background-color: #e7b6b4;
    border-color: #563232;
    border-style: inset;
}

.order-btn:active{
    background-color: #b2dab1;
    border-color: #365236;
    border-style: outset;
}

.contact-btn{
    background-color: #ff8c91;
    border-color: #563232;
    border-style: outset;
    border-width: 3px;
    font-weight: bold;
}
.contact-btn:hover{
    background-color: #e7b6b4;
    border-color: #563232;
    border-style: inset;
}

.contact-btn:active{
    background-color: #b2dab1;
    border-color: #365236;
    border-style: outset;
}

#order-disabled{
    background-color: #e7b6b4;
    border-color: #563232;
    border-style: inset;
    opacity: 100%;
}

.homepage-gallery-btn{
    position: center;
}

/*footer*/

.footer{
    bottom: 0;
    width: 100%;
    background-color: #e7cfb4;
    overflow-x: hidden;
} 

.footer-img{
    width: 60%;
    right: 0;
    top: 0;
}

.footer a{
    color: black;
    text-decoration: none;
}

.footer-social{
    width: 3rem;
    padding-bottom: .25rem;
}

.footer iframe{
    margin-top: .5rem;
}

.footer h3{
    padding-top: 1rem;
}

/*images*/

img.gallery-img{
    width: 100%;
    height: 300px;
    border-radius: 2%;
    object-fit: cover;
    object-position: 50%;
}

img.summary{
    width: 100%;
    object-fit: cover;
}

.homepage-gallery img{
    width: 100%;
    padding-top: 2rem;
}