body {
  background-image: url(img/wood\ shavings.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: black;
  font-size: 1.2rem;
}

.navbar {
  background-color: rgba(138, 138, 138, 0.5);
  font-family: "Libre Baskerville", serif;
  border-bottom-style:solid;
  border-bottom-color: rgb(138, 138, 138);
  border-bottom-width: .2rem;
}

.background {
  background-color: rgba(138, 138, 138, 0.5);
  border-radius: 5rem;
  border-color: rgb(138, 138, 138);
  border-width: .2rem;
  border-style: solid;
}

.background iframe{
    border-radius: 5rem;
}

.header {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
}

/*buttons */

.top-btn{
  background-color: #8ca9ff;
  border-color: #323756;
  border-style: outset;
  border-width: 3px;
  font-weight: bold;
}

.top-btn:hover{
  background-color: #b4c2e7;
  border-color: #323756;
  border-style: inset;
}

.top-btn:active{
  background-color: #b2dab1;
  border-color: #365236;
  border-style: outset;
}

#btn-back-to-top {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: none;
}

.gallery-btn {
  background-color: #8ca9ff;
  border-color: #323756;
  border-style: outset;
  border-width: 3px;
  font-weight: bold;
}

.gallery-btn:hover {
  background-color: #b4c2e7;
  border-color: #323756;
  border-style: inset;
}

.gallery-btn:active {
  background-color: #b2dab1;
  border-color: #365236;
  border-style: outset;
}

.order-btn {
  background-color: #ff8c91;
  border-color: #563232;
  border-style: outset;
  border-width: 3px;
  font-weight: bold;
}

.order-btn:hover {
  background-color: #e7b6b4;
  border-color: #563232;
  border-style: inset;
}

.order-btn:active {
  background-color: #b2dab1;
  border-color: #365236;
  border-style: outset;
}

.contact-btn {
  background-color: #ff8c91;
  border-color: #563232;
  border-style: outset;
  border-width: 3px;
  font-weight: bold;
}
.contact-btn:hover {
  background-color: #e7b6b4;
  border-color: #563232;
  border-style: inset;
}

.contact-btn:active {
  background-color: #b2dab1;
  border-color: #365236;
  border-style: outset;
}

#order-disabled {
  background-color: #e7b6b4;
  border-color: #563232;
  border-style: inset;
  opacity: 100%;
}

.homepage-gallery-btn {
  position: center;
}

/*footer*/

.footer {
  bottom: 0;
  width: 100%;
  background-color: rgba(138, 138, 138, 0.5);
  overflow-x: hidden;
  border-top-style:solid;
  border-top-color: rgb(138, 138, 138);
  border-top-width: .2rem;
}

.footer-img {
  width: 60%;
  right: 0;
  top: 0;
}

.footer a {
  color: black;
  text-decoration: none;
}

.footer-social {
  width: 3rem;
  padding-bottom: 0.25rem;
}

.footer iframe {
  border-radius: 6px;
  margin-top: 0.5rem;
  box-shadow: 5px 10px rgba(104, 104, 104, 0.5);
}

.footer h3 {
  padding-top: 1rem;
}

/*images*/

img.gallery-img {
  width: 100%;
  height: 300px;
  border-radius: 1rem;
  object-fit: cover;
  object-position: 50%;
}

img.summary {
  width: 50%;
  object-fit: cover;
  border-radius: 1rem;
  margin-right: 1rem;
}

.homepage-gallery img {
  width: 100%;
  padding-top: 2rem;
  border-radius: 2%;
}

.gallery-cta {
  margin-top: 10%;
}


hr{
  border-top-width: 2px;
  border-radius: 100%;
}

.brag-list{
  margin-left: 5rem;
}

.carousel{
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  margin-right: 1rem;
}

.carousel-item img{
  object-fit: cover;
  border-radius: 1rem;
  margin-right: 1rem;
  height: 350px;
}

a{
  color: #464d75;
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  color: #563232;
  text-decoration: none;
  font-weight: bold;
}